rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isValidId(id) {
      return id is string && id.size() <= 128;
    }

    match /test/{testId} {
      allow get: if true;
    }

    match /outbreaks/{outbreakId} {
      allow read, write: if isSignedIn();
    }

    match /surveillance/{surveillanceId} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
